* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.card {
  box-sizing: border-box;
  background: #fff;
  padding: 22px 28px;
  max-width: 310px;
  height: 160px;
  width: inherit;
  margin-bottom: 30px;
  border-radius: 14px;
  box-shadow: 0 2px 4px 0 rgb(164 183 209 / 20%);
  transition: all 0.3s ease;
  cursor: pointer;
}
.card-title {
  font-size: 48px;
  color: #000c83;
  line-height: 35px;
  margin: 0 0 20px;
}
.card-description {
  color: #000c83;
}
