.title-dark {
  color: #000c83;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 8px;
}
.title-light {
  color: #0eb6ff;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 8px;
}
.counter {
  color: #000c83;
  font-size: 24px;
  margin-bottom: 40px;
}
